# .gitignore

###################################################################################################

# Exceptions: Allow pushing .crt certificates
!*.crt

###################################################################################################

# Ignore all private keys
*.key

# Ignore any .pem file (may contain keys)
*.pem

# Ignore all the .vscode and .pio folders
.vscode
.pio

# Ignore configuration files that may contain sensitive information
*.config
*.env

# Ignore folders that may contain unsafe keys or certificates
keys/
secrets/
certs/private/

###################################################################################################
